<%- include('./partials/head') %>
<body>
    <main>
<%- include('./partials/header') %>
<%- include('./partials/carousel') %>
<%- include('./partials/reserva') %>
<%- include('./partials/cardapio') %>
<%- include('./partials/aboutus') %>
    </main>
<%- include('./partials/footer') %>
</body>
</html>